body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #ededed;
    padding-bottom: 20px;
    border-bottom: 4px #cc0000 solid; /* bordo inferiore header */
}

#img-profilo {
    height: 160px;
    width: 160px;
}